/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 50px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 800;
  margin: 30px 0;
}

h3 {
  font-size: 1.7rem;
  font-weight: 800;
  margin: 10px 0;
}

h4 {
  font-size: 1.4rem;
  font-weight: 800;
  margin: 10px 0;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
}

section {
  margin: 80px 0 150px 0;
}

.ext-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.int-container {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  padding: 15px 20px;
  border: none;
  background-color: #0061FF;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.small-card {
  margin: 30px 0;
  flex-basis: 30%;
  flex-wrap: wrap;
}

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.big-column {
  width: 65%;
}

.small-column {
  width: 35%;
}

img {
  object-fit: cover;
  width: 100%;
}

/* HEADER */
header {
  background-color: #B4D0E7;
  position: relative;
}

header .top-bar {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  z-index: 998;
}

header .top-bar div{
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .right-top-bar .logo {
  padding: 30px 20px;
}

ul{
  list-style: none;
}

header .top-bar .menu ul li{
  padding: 0 10px;
  display: inline-block;
}

header .top-bar .menu li a {
  text-decoration: none;
  color: black;
}

#jumbotron{
  justify-content: center;
  align-items: center;
  height: 730px;
  padding-top: 120px;
}

#jumbotron> div{
  margin: 20px 0;
}

header #jumbotron .small-column {
  height: 100%;
  flex-direction: column;
}

header #jumbotron .small-column .btn{
  margin: 20px 0;
}

#jumbotron .small-column a i{
  font-size: 3rem;
  padding: 20px 0;
  cursor: pointer;
}

/* Main */
main section {
  margin-top: 150px;
}

main section span {
  margin-right: 30px;
}

main section .fa-circle {
  color: #D0D0D3;
  cursor: pointer;
}

/* main section .fa-circle-dot {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
} */


main section .plans {
  justify-content: space-between;
}
main section .small-card {
  border: 1px solid black;
}


main section .small-card .plan-type{
  padding: 10px;
  border-bottom: 1px solid black;
  text-align: center;
}

main section .small-card .plan-type .description li{
  list-style-position: outside;
}

main section .small-card div:nth-of-type(2){
  padding: 20px ;
 
}

main .small-card span:nth-of-type(2){
  display: block;
  margin-bottom: 5px;
}

main .small-card .description li:nth-of-type(1)::before {
  font-family: "Font Awesome 6 Free";
  content: '\f007';
  display: inline-block;
  vertical-align: calc(100% - 95%);
}

main .small-card .description li:nth-of-type(2)::before {
  font-family: "Font Awesome 6 Free";
  content: '\f07b ';
  display: inline-block;
  vertical-align: calc(100% - 95%);
}

main .small-card .description li:nth-of-type(3)::before {
  font-family: "Font Awesome 6 Free";
  content: '\f1e0';
  display: inline-block;
  vertical-align: calc(100% - 95%);
}

main .small-card .description li {
  margin: 25px 0;
}

main .small-card .btn{
  margin: 20px 0;
}


main section .big-card {
  border: 1px solid black;
}

main section .big-card .plan-type{
  text-align: center;
}

main section .contacts .big-column, 
main section .contacts .small-column {
  padding: 20px;
}

main section .big-card .contacts{
  border-top: 1px solid black;
}

main section .contacts .small-column {
  text-align: right;
}

main section .partners{
  margin-top: 150px;
}

main section .partners .small-column{
  padding: 25px;
}

main section .partners .small-column .btn{
  margin: 30px 0;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

main section .advantages li:nth-child(n)::before {
  font-family: "Font Awesome 6 Free";
  content: '\f00c';
  display: inline-block;
  color: #0061FF;
  font-weight: bolder;
}



main section .col> img{
  height: 200px;  
}

main section .col.small-card {
  border: none;
  padding: 10px;
}

main section .box{
  width: 100vw;
  margin-top: 100px;
}

main section .box .team {
  width: calc(100% / 3);
  flex-wrap: wrap;
}

main section .box .team .team-box {
  width: calc(100% / 2);
  height: calc((100vw / 3) / 2);
  position: relative;
}

main section .box .team-description {
  width: calc(100% / 3);
  padding: 30px;
  flex-direction: column;
  background-color: #F5F5F5;
}

 .team .team-box img{
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
  
}

.designit {
  background-color: #A2D39B;
}

.asu {
  background-color: #61082B;
}

.uof {
  background-color: #0093CE;
}

.topps {
  background-color: #FF1C1C;
}

.wbr {
  background-color: #D5001F;
}

.hearst {
  background-color: #B4D0E7;
}

.lonely-planet {
  background-color: #0D2481;
}

.clear-channel {
  background-color: #FFD830;
}

main section .box .team-description .company{
  width: calc(100% / 2);
  height: calc(((100vw / 3) / 2) / 2);
  border-bottom: 1px solid #D0D0D3;
  position: relative;
}

/* main section .box .team-description .company::after {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% / 2);
  border-bottom: 10px solid black;
  bottom: 0;
  right: 0;
} */

main .box .team-description .company,
main .box .team-description .company-desc {
  margin-bottom: 50px;
}

main section .d-business {
  width: 100%;
  padding: 20px;
  background-color: #B4D0E7;
}

main section .d-business div {
  flex-basis: 50%;
}

main section .d-business button {
  margin: 50px 100px;
}

main section .d-business h2 {
  color: #5F0326;
}

main .accordion .faq {
  padding: 40px 0;
  font-weight: 900;
  border-top: 1px solid #B2B2B2;
  justify-content: space-between;
  position: relative;
}

main .accordion .faq div{
  padding: 0 30px;
}

main .accordion .faq p:nth-of-type(2) {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}



/* Footer */
footer {
  background-color: black;
  color: white;
  width: 100%;
}

footer .upper-footer div {
  padding: 50px 0;
  flex-basis: 20%;
}

footer .upper-footer h4 {
  margin-bottom: 30px;
}
footer .upper-footer li{
  margin-bottom: 20px;

}

footer .upper-footer li a{
  color: white;
}

footer .upper-footer .menu li a {
  text-decoration: none;
}

footer .bottom-footer div {
  flex-basis: 10%;
  padding: 50px 0;
  border-top: 1px solid white;
}

footer .social a {
  color: white;
}

footer .social a i{
  margin-right: 25px;
  padding: 30px 0;
}