/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 50px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 800;
  margin: 30px 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 10px 0;
}

h4 {
  font-size: 1rem;
  font-weight: 800;
  margin: 10px 0;
}



a {
  color: black;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
}

.ext-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.int-container {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  padding: 15px 15px;
  border: none;
  background-color: #0061FF;
  color: white;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
}

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.flex {
  display: flex;
}

.big-column {
  width: 65%;
}

.small-column {
  width: 35%;
}

img {
  object-fit: cover;
  width: 100%;
}

/* HEADER */
header {
  background-color: #B4D0E7;
  position: relative;
}

header .top-bar {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
}

header .top-bar div{
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .right-top-bar .logo {
  padding: 30px 20px;
}

ul{
  list-style: none;
}

.menu ul li{
  padding: 0 10px;
  display: inline-block;
  text-transform: capitalize;
}

.menu li a {
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: underline 3px;
  text-underline-offset: 180%;
  
}

#jumbotron{
  justify-content: center;
  align-items: center;
  height: 730px;
  padding-top: 120px;
}

#jumbotron> div{
  margin: 20px 0;
}

header #jumbotron .small-column {
  height: 100%;
  flex-direction: column;
}

header #jumbotron .small-column .btn{
  margin: 20px 0;
}

#jumbotron .small-column a i{
  font-size: 3rem;
  padding: 20px 0;
  cursor: pointer;
}

/* Main */
main section {
  margin-top: 150px;
}

main section span {
  margin-right: 30px;
}

main section .fa-circle-dot {
  color: #005BFF;
}

main section .fa-circle {
  color: #D0D0D3;
}

main section .plans {
  justify-content: space-between;
}

main section .small-card {
  margin: 30px 0;
  padding: 25px 20px;
  flex-basis: 30%;
  flex-wrap: wrap;
  border: 1px solid #D0D0D3 ;
}
main section .small-card  span:first-child{
  border-bottom: black;
}

/* .small-card li:nth-of-type(1)::before {
  content: '<i class="fa-solid fa-user"></i>;';
} */

main section .big-card {
  padding: 10px;
  text-align: center;
}

main section .contacts .big-column, 
main section .contacts .small-column {
  padding: 20px;
}

main section .contacts .small-column {
  text-align: right;
}

main section .partners{
  margin-top: 100px;
}

main section .partners .small-column{
  padding: 25px;
}

main section .partners .small-column .btn{
  margin: 30px 0;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}